USE [master]
GO
/****** Object:  Database [Caso7]    Script Date: 3/8/2020 03:44:47 ******/
CREATE DATABASE [Caso7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Caso7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2020\MSSQL\DATA\Caso7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Caso7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2020\MSSQL\DATA\Caso7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Caso7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Caso7]
GO
/****** Object:  Table [dbo].[GestionPrestamo]    Script Date: 3/8/2020 03:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GestionPrestamo](
	[Id_Gestion] [int] IDENTITY(1,1) NOT NULL,
	[Id_Pais] [int] NULL,
	[Id_Idioma] [int] NULL,
	[Habitantes] [int] NULL,
	[PIB] [int] NULL,
	[Superficie] [int] NULL,
	[Riesgo] [varchar](20) NULL,
	[Prestamo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Gestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 3/8/2020 03:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_Idioma] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Idioma] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 3/8/2020 03:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Pais] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GestionPrestamo] ADD  DEFAULT ((0)) FOR [Prestamo]
GO
ALTER TABLE [dbo].[GestionPrestamo]  WITH CHECK ADD  CONSTRAINT [relacion_idioma] FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idioma] ([Id_Idioma])
GO
ALTER TABLE [dbo].[GestionPrestamo] CHECK CONSTRAINT [relacion_idioma]
GO
ALTER TABLE [dbo].[GestionPrestamo]  WITH CHECK ADD  CONSTRAINT [relacion_pais] FOREIGN KEY([Id_Pais])
REFERENCES [dbo].[Pais] ([Id_Pais])
GO
ALTER TABLE [dbo].[GestionPrestamo] CHECK CONSTRAINT [relacion_pais]
GO
USE [master]
GO
